<h1>Add A Comment</h1>
<form action="/new_comment" method="post">
  Name: <input type="text" name="name" maxlength="40" required> </input><br>
  Comment: <textarea rows="5" name="comment" maxlength="200" required></textarea><br>
  <a class="btn btn-primary" href="/comments" role="button"> << Previous </a>
  <input type="submit" name = "Add" value="Add"></input>
</form>
